/* Panel: #FFED99, #F6B8B8, #AC66CC ,#3B14A7 */

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter var', sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  /* font-family: 'Fuzzy Bubbles', cursive; */
  background-color: #212529;
  font-size: large
}

hr {
  margin: 3rem auto;
  background-color: #F6B8B8;
  width: 50%;
  padding: 0.05rem;
  opacity: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

.headline {
  background-image: linear-gradient(to left, #FFED99, #F6B8B8, #AC66CC);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold
}
